body {
  font-family: 'Montserrat', sans-serif;
  

}

main {
  width: 60%;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#test {
  font-family: 'JetBrains Mono', monospace;
}