/* INHERITANCE */
body {
  color: gray;
  font-family: monospace;
  line-height: 1.5em;
}
div {
  color: rgba(0, 128, 51, 0.381);
  border: 3px solid black;
}
h1 {
  color: red;
  text-align: center;
}

/* LAST RULE */
p {
  color: black;
}
p {
  color: blueviolet;
}

/* SPECIFICITY MEASUREMENT IN CSS */
/* UNIVERSAL SELECTOR */
* {
  color: cadetblue
}