div {
  width: 100px;
  height: 100px;
  background-color: #3d405b;
  border: 2px solid black;
  margin: 20px;
  display: inline-block;
}

#middle {
  background-color: #81b29a;
}

#static #middle {
  position: static;

  /* not affect */
  top: 100px;
}

#relative #middle {
  position: relative;

  /* offset it's position */
  top: 100px;
}

#absolute {
  /* the ancestor got positioned */
  position: relative;
}

#absolute #middle {
  /* the element is removed from the flow */
  /* relative to is's ancestor if it's positioned */
  position: absolute;
  top: 1px;
  left: 1px;
}

#fixed #middle {
  /* removed from the normal document flow */
  position: fixed;
  top: 0;
  left: 0;
}